<!-- //forget pass -->
<section class="forgetPass" *ngIf="step1">
  <h2 class="text-capitalize">forget password</h2>
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
    <!-- --email validation and its alert-- -->
    <div class="input-field my-3">
      <label for="email" class="text-capitalize">email:</label>
      <input
        type="email"
        class="form-control mb-2"
        id="email"
        formControlName="email"
        placeholder="Enter An Exist Email"
      />

      <!-- //alert box -->
      <div
        class="email-alert alert alert-danger"
        *ngIf="
          forgetPasswordForm.get('email')?.errors &&
          forgetPasswordForm.get('email')?.touched
        "
      >
        <p
          class="text-capitalize"
          *ngIf="forgetPasswordForm.get('email')?.getError('required')"
        >
          - email is required
        </p>
        <p
          class="text-capitalize"
          *ngIf="forgetPasswordForm.get('email')?.getError('email')"
        >
          - uncorrect email
        </p>
      </div>
    </div>

    <!-- --submit button and its alrt boxe-- -->
    <div class="row justify-content-between align-items-center">
      <div class="col-md-12 mb-3">
        <button
          class="btn-main text-capitalize w-100"
          [disabled]="forgetPasswordForm.invalid"
        >
          <div class="login-spinner d-inline-block" *ngIf="isLoading">
            <i class="fas fa-spinner fa-spin me-2"></i>
          </div>
          send email
        </button>
      </div>

      <div class="error-box">
        <p *ngIf="message1" class="alert alert-danger">
          {{ message1 }}
        </p>
      </div>
    </div>
  </form>
</section>

<!-- //verify pass -->
<section class="verify" *ngIf="step2">
  <h2 class="text-capitalize">verify your email</h2>
  <form [formGroup]="verifyForm" (ngSubmit)="verifyPassword()">
    <!-- --code-- -->
    <div class="input-field my-3">
      <label for="password" class="text-capitalize">resetCode:</label>
      <input
        type="text"
        class="form-control mb-2"
        id="code"
        formControlName="resetCode"
        placeholder="enter the code you recieved"
      />

      <!-- //alert box -->
      <div
        class="password-alert alert alert-danger"
        *ngIf="
          verifyForm.get('resetCode')?.errors &&
          verifyForm.get('resetCode')?.touched
        "
      >
        <p
          class="text-capitalize"
          *ngIf="verifyForm.get('resetCode')?.getError('required')"
        >
          - code is required
        </p>
      </div>
    </div>

    <!-- --submit button and its alrt boxe-- -->
    <div class="row justify-content-between align-items-center">
      <div class="col-md-12 mb-3">
        <button
          class="btn-main text-capitalize w-100"
          [disabled]="verifyForm.invalid"
        >
          <div class="login-spinner d-inline-block" *ngIf="isLoading">
            <i class="fas fa-spinner fa-spin me-2"></i>
          </div>
          verify now
        </button>
      </div>

      <div class="error-box">
        <p *ngIf="message2" class="alert alert-danger">
          {{ message2 }}
        </p>
      </div>
    </div>
  </form>
</section>

<!-- //reset pass -->
<section class="resetPass" *ngIf="step3">
  <h2 class="text-capitalize">reset password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <!-- --email validation and its alert-- -->
    <div class="input-field my-3">
      <label for="email" class="text-capitalize">email:</label>
      <input
        type="email"
        class="form-control mb-2"
        id="email"
        formControlName="email"
        placeholder="enter your email"
      />

      <!-- //alert box -->
      <div
        class="email-alert alert alert-danger"
        *ngIf="
          resetForm.get('email')?.errors && resetForm.get('email')?.touched
        "
      >
        <p
          class="text-capitalize"
          *ngIf="resetForm.get('email')?.getError('required')"
        >
          - email is required
        </p>
        <p
          class="text-capitalize"
          *ngIf="resetForm.get('email')?.getError('email')"
        >
          - uncorrect email
        </p>
      </div>
    </div>

    <!-- --password validation and its alert-- -->
    <div class="input-field my-3">
      <label for="newPassword" class="text-capitalize">newPassword:</label>
      <input
        type="password"
        class="form-control mb-2"
        id="newPassword"
        formControlName="newPassword"
        placeholder="enter new password"
        #passwordInput
      />

      <!-- //alert box -->
      <div
        class="password-alert alert alert-danger"
        *ngIf="
          resetForm.get('newPassword')?.errors &&
          (resetForm.get('newPassword')?.touched ||
            passwordInput.value.length > 0)
        "
      >
        <p
          class="text-capitalize"
          *ngIf="resetForm.get('newPassword')?.getError('required')"
        >
          - newPassword is required
        </p>
        <p
          class="text-capitalize"
          *ngIf="resetForm.get('newPassword')?.getError('pattern')"
        >
          <span class="d-block">* one capital letter atleast</span>
          <span class="d-block">* one small letter atleast</span>
          <span class="d-block">* one digit number atleast</span>
          <span class="d-block">* min length is 6</span>
          <span class="d-block">* max length is 20</span>
        </p>
      </div>
    </div>

    <!-- --submit button and its alrt boxe-- -->
    <div class="row justify-content-between align-items-center">
      <div class="col-md-12 mb-3">
        <button
          class="btn-main text-capitalize w-100"
          [disabled]="resetForm.invalid"
        >
          <div class="login-spinner d-inline-block" *ngIf="isLoading">
            <i class="fas fa-spinner fa-spin me-2"></i>
          </div>
          reset password
        </button>
      </div>

      <div class="error-box">
        <p *ngIf="message3" class="alert alert-danger">
          {{ message3 }}
        </p>
      </div>
    </div>
  </form>
</section>
